@model AddProductViewMoldes


<div id="tabs">
    <ul>
     
    </ul>
    <div id="tabs-1">
        <partial name="~/Views/Product/Partial/MainData.cshtml" model="Model" />
    </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
